@{
    ViewData["Title"] = "Home Page";
}

<h3>Paso 1: Obtener el código de autorización</h3>
<div class="card text-center">
    <div class="card-header">Obtener el codigo de autorización</div>
    <div class="card-body">
        <p>
            Este cliente redirige al usuario hacia el servidor de autorizacion
            para iniciar sesion y consentir los permisos que le estamos solicitando.
        </p>
        <p>
            <a class="btn btn-primary" href="/get/the/authorization/code">
                Ir al servidor de Autorización.
            </a>
        </p>

    </div>
</div>